<!-- Main Wrapper -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u skel-cell-important">

        <!-- Content -->
        <div id="content">
          <%=	form_for @user do |f|  %>
              <% if @user.errors.any? %>
                  <div class="message error">
                    <% @user.errors.each do |attr, error| %>
                        <b><%= error %></b><br>
                    <% end %>
                  </div>
              <% end %>
              <p>
                <%= f.text_field :username, placeholder: 'Usuario' %>
              </p>
              <p>
                <%= f.password_field :password, placeholder: 'Contraseña'%>
              </p>
              <p>
                <%= f.password_field :password_confirmation, placeholder: 'Confirmación de contraseña' %>
              </p>
              <p ><%= f.submit 'Enviar', class: 'button small' %></p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>